{% extends "index.html" %}
{% block main %}
<h1>
    Bubble Chart
</h1>
<div>
  <img target="_blank" src="static/images/Bubble_Chart_Demo.gif" alt="Bubble Chart Demo">
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div id="bubble">
          <!-- Bubble Chart Appears Here -->
        </div>
      </div>
    </div>
</div>
<p class="text-sm-left">The above visualization would be a bubble chart graph. You could click on labels on the x and y axis to compare and contrast different relationships such as "Runtime" vs "Most Watched Media (unique users)" or "Rating" vs "Most Collected Media (unique users)". In addition, the movies and shows would both be displayed using different colors. This would help visualize the comparison between the impact of movies vs TV shows in Netflix and which one was dominating.</p>
{% endblock %}

<script src="/js/bubble_chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

